*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 2vh;
    position:sticky;
    top: 0;
}
#Logo{
    height: 8vh;
    padding-left: 2vh;
}
#Logo:hover{
    height: 8.5vh;
    transition: all 0.3s;
}
nav{
    margin: 3vh 6vh;
}
.menu{
    text-decoration: none;
    margin: 1.0vh;
    color: aliceblue; 
    padding: 1.0vh;
}
.menu:hover{
    background-color:azure;
    color: black;
    padding: 2vh;
    transition: all 0.3s;
}

.banner{
    background-image: url(./Img/Fondo-Home.jpg);
    height: 30vh;
    background-position: 0vh;
    background-size:cover;
    display: flex;
}

.banner> a{
    color: #f5f7f8;
    text-decoration: none;
    margin: auto;
    font-size: 10vh;
    text-shadow: 10px 5px 20px #111;
}
#next{
    height: 6vh;
}
.buscador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(228, 228, 228);
    padding: 4vh;
}
#buscar{
    margin: 0vh 2vh;
    padding: 0.5vh 0.5vh;
    border-radius: 2vh;
    text-align: center;
    border-color: rgb(88, 144, 247);
}
#buscar:hover{
    padding: 0.5vh 2.5vh;
    transition: all 0.3s;
}
.contenedor{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.caja{
    background-color:rgb(228, 228, 228);
    width: 40vh;
    text-align: center;
    margin: 5vh;
    border-radius: 10px;
    
}
.caja:hover{
    box-shadow: 0px 10px 20px gray;
}
.caja_img{
    height: 20vh;
    margin: 2vh;
    box-shadow: 5px 5px 5px black;
}
.sub-caja{
display: flex;
justify-content: space-around;
}
.boton{
text-decoration: none;
background-color:rgb(88, 144, 247);
color: aliceblue;
padding: 5px 20px;
margin: 5px 0px; 
text-shadow: 5px 0px 6px black;
}
form{
    display: flex;
    justify-content: center;
    margin: 7vh;
}
table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 0.5em 2em;
    margin: 2em auto;
}

thead{
    background-color:#111;
    color: aliceblue;
}
.title{
    background-color: #111;
    color: aliceblue;
}
footer{
    background-color: #111;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}
.contenedor-footer{
    height: 8vh;
    padding-top: 1.5vh;
}
.contenedor-footer img{
    height: 4vh;
    margin: 5px;
}
.contenedor-footer-titulo{
    color: aliceblue;
    margin: auto 3vh;
}

@media only screen and (max-width: 320px){
    #Logo{
        height: 3vh;
    } 
    header{
        display: inline-block;
        height: 20vh;
    }
    #Logo:hover{
        height: 5vh;
    }
    nav{
        margin: 1vh 1vh;
    }
    .menu{
        margin: 0.5vh; 
        padding: 0.7vh;
    }
    .menu:hover{
        padding: 1vh;
        transition: all 0.3s;
    }
    
    .banner{
        height: 25vh;
    }
    
    .banner> a{
        font-size: 6vh;
    }  
    #next{
        height: 4vh;
    }
    table,th,td{
        text-align: left;
        padding: 0.2em 0em;
        margin: 1em auto;
    }
    
}
@media only screen and (min-width: 320px) and (max-width: 767px){

    #Logo{
        height: 4vh;
    } 
    header{
    justify-content: space-around;
    align-items: self-end;
    height: 15vh;
    }
    #Logo:hover{
        height: 5vh;
    }
    nav{
        margin: 1vh 2vh;
    }
    .menu{
        margin: 0.5vh; 
        padding: 0.7vh;
    }
    .menu:hover{
        padding: 1vh;
        transition: all 0.3s;
    }
    
    .banner{
        height: 25vh;
    }
    
    .banner> a{
        font-size: 7vh;
    }  
    #next{
        height: 6vh;
    }
    table,th,td{
        text-align: left;
        padding: 0.2em 0em;
        margin: 1em auto;
    }
}

.contenedor-pop{
    display: flex;
    flex-direction:row;
    margin: 5vh;
}
.caja-pop{
    background-color:rgb(228, 228, 228);
    width: 40vh;
    text-align: center;
    margin: auto;
    border-radius: 10px;
}
.caja-pop:hover{
    box-shadow: 0px 10px 20px gray;
}
