*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 2vh;
    position:sticky;
    top: 0;
}
#Logo{
    height: 10vh;
    padding-left: 2vh;
}
#Logo:hover{
    height: 12vh;
    transition: all 0.3s;
}
nav{
    margin: 3vh 7vh;

}
.menu{
    text-decoration: none;
    margin: 1.0vh;
    color: aliceblue; 
    padding: 1.0vh;
}
.menu:hover{
    background-color:azure;
    color: black;
    padding: 2vh;
    transition: all 0.3s;
}

.banner{
    background-image: url(./Img/Fondo-Home.jpg);
    height: 40vh;
    background-position: 0vh;
    background-size:cover;
    position: relative;
}

.banner> a{
    color: aliceblue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-size: 20vh;
}



