*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 2vh;
    position:sticky;
    top: 0;
}
#Logo{
    height: 8vh;
    padding-left: 2vh;
}
#Logo:hover{
    height: 8.5vh;
    transition: all 0.3s;
}
nav{
    margin: 3vh 6vh;

}
.menu{
    text-decoration: none;
    margin: 1.0vh;
    color: aliceblue; 
    padding: 1.0vh;
}
.menu:hover{
    background-color:azure;
    color: black;
    padding: 2vh;
    transition: all 0.3s;
}

.banner{
    background-image: url(./Img/Fondo-Home.jpg);
    height: 30vh;
    background-position: 0vh;
    background-size:cover;
    display: flex;
}

.banner> a{
    color: #f5f7f8;
    text-decoration: none;
    margin: auto;
    font-size: 15vh;
    text-shadow: 10px 5px 20px #111;
}
.contenedor{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
.caja{
    background-color:antiquewhite;
    width: 40vh;
    text-align: center;
    margin: 5vh;
    
}
.caja:hover{
    box-shadow: 0px 10px 20px gray;
}
.caja_img{
    height: 20vh;
    margin: 2vh;
    box-shadow: 5px 5px 5px black;
}
.sub-caja{
display: flex;
justify-content: space-around;
}
.boton{
text-decoration: none;
background-color: aquamarine;
padding: 5px 20px;
margin: 5px 0px; 
}
footer{
    background-color: #111;
}
.contenedor-footer{
    height: 7vh;
}
.contenedor-footer img{
    height: 5vh;
    margin: 5px;
}


